:host {
  display: block;
}

/* Navbar con variables */
.navbar {
  background-color: var(--navbar-bg) !important;
}

.navbar-brand {
  color: var(--navbar-text) !important;
}

.nav-link {
  color: var(--navbar-text) !important;
}