<section id="presentacion" style="padding-top: 80px; margin-top: -80px;">
  <div class="row">
      <div class="col-12">
          <h2>Lautaro Jofre</h2>
          <p>Full Stack Developer Junior</p>
      </div>
      <div class="col-12">
          <h3>Perfil Profesional</h3>
          <p>Desarrollador web Full Stack Jr. y estudiante de Ingeniería en Sistemas (tercer año). Interesado en

            Desarrollo Web (frontend y backend), con ganas de adquirir experiencia profesional y aprender nuevas

            herramientas en un entorno real de trabajo. Me destaco por ser resolutivo, trabajar bien en equipo y por

            mi capacidad de autoaprendizaje para resolver problemas técnicos.</p>
      </div>
  </div>
</section>
